core/out/mac/Debug
core/projects/mac/tmp
unity/Assets/Plugins/hexbot.bundle
unity/Library
unity/Temp
unity/obj
core/projects/windows/tmp/
core/projects/windows/hexbot.sdf
unity/Assets/Plugins/hexbot*
/unity/.vs
/unity/builds
/unity/Packages
