core/out/mac/Debug
core/projects/mac/tmp
unity/Assets/Plugins/hexbot.bundle
unity/Library
unity/Temp
unity/obj
core/projects/windows/tmp/
core/projects/windows/hexbot.sdf
unity/Assets/Plugins/hexbot*
/unity/.vs
/unity/builds
/unity/Packages
/core/projects/mac/hexbot.build
/core/projects/mac/CMakeScripts
/core/projects/mac/CMakeFiles
/core/projects/mac/CMakeCache.txt
/core/projects/mac/cmake_install.cmake
